<h1>New CLINIC</h1>
<% if @clinic.errors.present? %>
<ul>
<%@clinic.errors.full_messages.each do |error|%>
<li><%= error %></li>
    <% end %>
</ul>
<% end %>
<%= form_with(model: @clinic, local: true) do |f| %>
    <p>
    <%= f.label "Name" %>
    <%= f.text_field :name %>
    </p>
    <p>
    <%= f.label "Location" %>
    <%= f.text_field :location %>
    </p>
    <%= f.submit 'Create' %>
<%end%>