<h1> New arm</h1>
<% if @arm.errors.present? %>
<ul>
<%@arm.errors.full_messages.each do |error|%>
<li><%= error %></li>
    <% end %>
</ul>
<% end %>
<%= form_with(model: @arm, url: clinic_arms_path(@clinic.id)) do |f| %>
<p> 
    <%= f.label "Name" %>
    <%= f.text_field :name %>
    </p>
    <p>
    <%= f.label "Limit" %>
    <%= f.text_field :limit %>
    </p>
    <%= f.submit 'Create' %>
<%end%>