<h1> Show All the arms </h1>

<%= link_to "Create new doctor", new_doctor_path %>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Specification</th>
  </tr>
  <% @doctors.each do |doctor| %>
    <tr>
      <td><%= doctor.id %></td>
      <td><%= doctor.name %></td>
      <td><%= doctor.specification %></td>
      
      <td><%= link_to "Delete",doctor, method: :delete %></td>
      
      </ br>
    </tr>
  <% end %>
</table>